img {
    width: 30%;
    height: 400px;
    margin: calc(10%/8);
}

h3 {
    font-family: 'Raleway', sans-serif;
    margin: calc(10%/8);
    text-transform: uppercase;
    font-size: 30px;
    padding-top: 20px;
}