<%- include('partials/head') %>

<%- include('partials/navbar') %>

        <div class="container">

            <h1 class="text-center">Home Page</h1>

            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat id neque maiores nemo. Numquam nobis a
                quia!
                Accusantium veritatis quia dolores, quod laudantium fugit consequatur voluptatibus, reprehenderit sint
                quam
                expedita.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat id neque maiores nemo. Numquam nobis a
                quia!
                Accusantium veritatis quia dolores, quod laudantium fugit consequatur voluptatibus, reprehenderit sint
                quam
                expedita.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat id neque maiores nemo. Numquam nobis a
                quia!
                Accusantium veritatis quia dolores, quod laudantium fugit consequatur voluptatibus, reprehenderit sint
                quam
                expedita.
            </p>

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>

            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat id neque maiores nemo. Numquam nobis a
                quia!
                Accusantium veritatis quia dolores, quod laudantium fugit consequatur voluptatibus, reprehenderit sint
                quam
                expedita.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat id neque maiores nemo. Numquam nobis a
                quia!
                Accusantium veritatis quia dolores, quod laudantium fugit consequatur voluptatibus, reprehenderit sint
                quam
                expedita.
            </p>

        </div>

<%- include('partials/footer') %>