<%- include('partials/head')  %>

<%- include('partials/navbar')  %>

<div class="container d-flex flex-column justify-content-center align-items-center" style="height: 80vh;">
    <h1>404 NOT FOUND</h1>
    <h4>The server didn't found anything for you 😔</h4>
</div>

<%- include('partials/footer')  %>