<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>The Home Page <%= 4 + 5 + 1 %></h1>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus deserunt laborum quidem et veniam itaque
        corrupti? Quibusdam nisi reiciendis, aliquam officiis totam, dignissimos eius placeat eaque doloribus iusto, eos
        exercitationem!
    </p>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus deserunt laborum quidem et veniam itaque
        corrupti? Quibusdam nisi reiciendis, aliquam officiis totam, dignissimos eius placeat eaque doloribus iusto, eos
        exercitationem!
    </p>
    <a href="http://localhost:3000/random">Go to Random Page</a><br>
    <a href="http://localhost:3000/colour">Go to Color Page</a><br><br>

    <input type="text" placeholder="enter topic to search">
    <input type="text" placeholder="enter post to search">
    <button type="button">Submit</button>
</body>

</html>