<footer class="card text-center" data-bs-theme="dark">
    <div class="card-header">
      Express - Bootstrap Demo
    </div>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    <div class="card-footer text-body-secondary">
      ©2023 Vinidu Minsara | All Rights reserved.
    </div>
</footer>

<script src="/js/bootstrap.min.js"></script>
</body>

</html>