<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Home</h1>
    <h5>user : <%= user.username %></h5>
    <form action="/signout" method="post">
        <button>Sign out</button>
    </form>
    <a href="/secret">See the secret</a>
</body>
</html>