<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Comments</title>
</head>

<body>
    <h1>Comments</h1>
    <ul>
        <% comments.forEach(comment=> { %>
            <a href="/comments/<%= comment.id %>"><li><b><%= comment.comment %></b> - <small><%= comment.username %></small></li></a>
        <% }); %>
    </ul>

    <a href="/comments/new">Add new comment</a>
</body>

</html>