<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Race Registration</h1>
    <form action="">
        <div>
            <label for="first">First Nmae:</label>
            <input type="text" id="first" name="first">
            <label for="last">Last Nmae:</label>
            <input type="text" id="last" name="last">
        </div>
        <p><b>Select Race</b></p>

        <div>
            <input type="radio" name="race" id="funrun" value="funRun">
            <label for="funrun">Fun Run 5k</label>
        </div>
        <div>
            <input type="radio" name="race" id="full" value="full">
            <label for="full">Full Marathon</label>
        </div>
        <div>
            <input type="radio" name="race" id="half" value="half">
            <label for="half">Half Marthon</label>
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password">
        </div>
        <div>
            <label for="age">Select age group : </label>
            <select name="age" id="age">
                <option value="18+">18+</option>
                <option value="18-30">18-30</option>
                <option value="30-50">30-50</option>
                <option value="50+">50+</option>
            </select>
        </div>
        <button>Register</button>
    </form>
</body>

</html>