<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tables</title>
</head>

<body>
    <h1>Most Spotify Streams</h1>

    <table border="1">
        <thead>
            <tr>
                <th rowspan="2">Rank</th>
                <th rowspan="2">Name</th>
                <th rowspan="2">Artist</th>
                <th rowspan="2">Streams (billions)</th>
                <th colspan="2">Release Date</th>
            </tr>
            <tr>
                <th>Year</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Blinding lights</td>
                <td>The Weekend</td>
                <td>3.624</td>
                <td>2019</td>
                <td>11/29</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Shape of you</td>
                <td>Ed Sheeran</td>
                <td>3.510</td>
                <td>2017</td>
                <td>01/06</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Dance Monkey</td>
                <td>Tones and I</td>
                <td>2.818</td>
                <td>2019</td>
                <td>05/10</td>
            </tr>
        </tbody>
        <tfoot>

        </tfoot>
    </table>
</body>

</html>